body {
    /* background-image:url(https://img.freepik.com/vector-gratis/hermoso-fondo-barroco-damasco-patrones-fisuras-papel-tapiz-paginas-web_1284-43467.jpg?w=826&t=st=1659517775~exp=1659518375~hmac=8a9d6144f0d9f8aa7eb187a58ce73e5d8555bae59981967680bf44db4bdf259f);     */
    background-image:url(https://img.freepik.com/vector-gratis/papel-tapiz-flores-ornamentales-vintage_23-2148333431.jpg?w=1380&t=st=1659517786~exp=1659518386~hmac=68ab469367ba8a15d7493d5c7cd2f24b7fbc85f8e5759b381364802dd173faae);
    background-size: cover;    
}
.marco {
    background-image: url(https://c.tenor.com/VnnxqkdfNf4AAAAC/cooking.gif);  
    padding: 470px;
    background-attachment: fixed;
    background-repeat: no-repeat;    
    background-size: 68%;    
    background-position: center center;
}
.intro {
    position:absolute;
    padding: 5px;
    padding-top: 50px;
    padding-bottom: 10px;
    left: 5px;
    right: 1600px;
    top: 50px;
    background-image: url(https://png.pngtree.com/background/20210714/original/pngtree-pvc-recipe-background-picture-picture-image_1191529.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    /* margin-bottom: 100px; */
}
.loading {
    font-size: 26px;
    margin: 80px;
    margin-top: 140px;
    font-weight: 800;
}
.button {
    font-size: 40px;
    background-image: url(https://c.tenor.com/Ko8DuSBbIsoAAAAi/games-burger.gif);
    padding-top: 80px;
    padding-bottom: 40px;    
    background-size: 80%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    color: rgb(206, 87, 81);
    font-weight: 800;
    border: transparent;
    margin: 50px;
}
.button:hover {
    cursor: pointer;    
    color: #085472;
    background-color: rgba(255, 255, 255, 0.401);
}
.img1 {
    position:absolute;
    right: 70px;
    top: 10px;
    padding: 100px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('https://c.tenor.com/b02TjpbjjEgAAAAi/tkthao219-peach.gif')
}
.img2 {
    position:absolute;
    right: 30px;
    top: 325px;
    padding: 100px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('https://c.tenor.com/Lz4msWcXhlUAAAAi/tkthao219-bubududu.gif')
}
.img3 {
    position:absolute;
    right: 60px;
    bottom: 90px;
    padding: 100px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('https://c.tenor.com/6a_4Q6DHoWcAAAAi/chef-cooking.gif')
}